.elemento {
  color: #0000ff;
  font-size: 32px;
  width: 250px;
  height: 250px;
  text-align: center;
  margin-bottom: 20px;
}

.elemento-estatico {
  background-color: #00bfff;
}

.elemento-relativo {
  position: relative;
  left: 100px;
  background-color: #ffa500;
}

.elemento-absoluto {
  position: absolute;
  left: 200px;
  background-color: #ffe135;
  top: 0;
}

.elemento-relativo-com-filho {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: #d3d3d3;
}

.elemento-absoluto-com-pai {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
  background-color: #ff6347;
}
